*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ind
*.inputs
*.ist
*.lof
*.log
*.maf
*.mtc
*.mtc0
*.out
*.ps
*.run.xml
*.synctex
*.synctex.gz
*.tdo
*.toc
*.xdy
.DS_Store
.idea
.mkfigures
.prepare.cache
.texpadtmp
.venv
__pycache__
env
